#brandsMain{
    width: 100%;
    height: 92%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}
#brandsAlign{
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.brandsHeading{
    width: 95%;
    height: 10%;
    display: flex;
    align-items: center;
  
}
.brandsHeading h1{
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.2vh;
}
#brandsInfo{
    width: 95%;
    height: 85%;

    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}
#brandsSearchBar{
    width: 100%;
    height: 13%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}
#searchBarrrrrrrrrr{
    width: 50%;
    height: 60%;
    background-color: #D9D9D9;
    border-radius: 1vh 1vh;
}
#searchBarrrrrrrrrr form {
    width: 100%;
    height: 100%;
    border-radius: 1vh 1vh;
    display: flex;

}

#searchBarrrrrrrrrr input {
    width: 90%;
    height: 100%;
    border-radius: 1vh 1vh;
    background-color: #D9D9D9;
    outline: none;
    padding-left: 2vh;
    font-size: 2vh;


}


#searchBarrrrrrrrrr button {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#addBrands {
    width: 8%;
    height: 60%;
    background-color: #23AA49;
    border-radius: 1vh 1vh;

}

#addBrands button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1vh 1vh;

}
#brandHeading{
    width: 100%;
    height: 10%;
    background-color: #f2f2f2;
}
#brandHeading table {
    width: 100%;
    height: 100%;

}

#brandHeading tr {
    width: 100%;
    height: 100%;

}

#brandHeading th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}
#brand_id {
    width: 8%;
    height: 100%;
    border-right: 2px solid #d9d9d9;


}

#brand_name {
    width: 42%;
    height: 100%;
    border-right: 2px solid #d9d9d9;


}

#brand_product_name {
    width: 14%;
    height: 100%;
    border-right: 2px solid #d9d9d9;


}

#brand_created_by {
    width: 17%;
    height: 100%;
    border-right: 2px solid #d9d9d9;


}

#brand_modified_by {
    width: 17%;
    height: 100%;


}

#brandsData{
    width: 100%;
    height: 79%;
    background-color: #ffffff;
    border-radius: 1vh 1vh;
    overflow: hidden;
    overflow: auto;
    filter: drop-shadow(2px 2px 1px #00000073);
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #00000073 #ffffff; /* For Firefox */

  
}




#Brands_EachData table {
    overflow: auto;
    width: 100%;
    min-height: 100%;
    cursor: pointer;
}

#Brands_EachData {
    width: 100%;
    border-bottom: 3px solid #EDEDED;
}

#Brands_EachData tr {
    width: 100%;
}

#Brands_EachData td {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px;
    word-break: break-all; /* Allow words to break and wrap to the next line */
    overflow-wrap: break-word; /* Allow text to wrap within words */
}

#brandsData::-webkit-scrollbar {
    width: 12px;
}
#brandsData::-webkit-scrollbar-track {
    background: #ffffff;
}
#brandsData::-webkit-scrollbar-thumb {
    background-color: #00000073;
    border-radius: 6px;
}