#jj table {
   
    width: 100%;
    min-height: 100%;
    cursor: pointer;
}

#jj {
    width: 100%;
    border-bottom: 3px solid #EDEDED;
}

#jj tr {
    width: 100%;
}

#jj td {
    text-align: center;
    white-space: pre-wrap;
    word-wrap: break-word;
    padding: 8px;
    word-break: break-all; /* Allow words to break and wrap to the next line */
    overflow-wrap: break-word; /* Allow text to wrap within words */
}

/* Adjust max-width and min-width for each <td> based on your design */
#categoryId {
    width: 8%;
    height: 100%;
    border-right: 2px solid #EDEDED;

}

#categoryName {
    width: 40%;
    height: 100%;
    border-right: 2px solid #EDEDED;

}

#subCategoryInCategories {
    width: 12%;
    height: 100%;
    border-right: 2px solid #EDEDED;

}

#categoryProducts {
    width: 15%;
    height: 100%;
    border-right: 2px solid #EDEDED;

}

#createdBy {
    width: 15%;
    height: 100%;
    border-right: 2px solid #EDEDED;

}

#modifiedBy {
    width: 10%;
    height: 100%;

}



