#orderPageMain {
    width: 100%;
    height: 92%;
    background-color: #f9f9f9;
    display: flex;
    align-items: center;
    justify-content: center;
}

#orderPageAlign {
    width: 90%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
}

#orderPageHeading {
    width: 95%;
    height: 10%;

    display: flex;
    align-items: center;
}

#orderPageHeading h1 {
    font-size: 5vh;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.4vh;
}

#orderInfo {
    width: 95%;
    height: 85%;

    display: flex;
    flex-direction: column;
    
}

#orderFilterBar {
    border-radius: 1vh 1vh 0vh 0vh;
    width: 100%;
    height: 15%;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-around;
  

}

#filterByBtn {
    width: 15%;
    height: 60%;
    background-color: #23AA49;
    border-radius: 1vh 1vh;
    position: relative;


}

#filterByBtn button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

#filterByButton {
    border-radius: 1vh 1vh;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;
    border-radius: 1vh 1vh;

}

#orderFilterDropdownMenu {
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: #eeeeee;
    border-radius: 1vh 1vh;
    overflow: hidden;
    z-index: 999;
}

.orderFilterDropDownButton {
    width: 100%;
    height: 25%;
    border-bottom: solid black 1px;
}

.orderFilterDropDownButton button {
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    text-transform: capitalize;
    font-weight: 600;
}

#orderSortBy {
    width: 15%;
    height: 60%;
    background-color: #23AA49;
    position: relative;
    border-radius: 1vh 1vh;
    z-index: 9999;

}

#orderSortBy button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 1vh 1vh;
   
}
#orderSortByButton{
    border-radius: 1vh 1vh;
    color: white;
    font-size: 2.5vh;
    font-weight: 600;

}
#orderSortDropdownMenu{
    position: absolute;
    width: 100%;
    height: 25vh;
    background-color: #eeeeee;
    border-radius: 1vh 1vh;
    overflow: hidden;
}
.orderSortDropDownButton{
    width: 100%;
    height: 25%;
    border-bottom: solid black 1px;

}
.orderSortDropDownButton button{
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    font-size: 2vh;
    text-transform: capitalize;
    font-weight: 600;
}

#orderSearchBar {
    width: 50%;
    height: 60%;
    background-color: #D9D9D9;
    border-radius: 1vh 1vh;

}

#orderSearchBar form {
    width: 100%;
    height: 100%;
    border-radius: 1vh 1vh;
    display: flex;

}

#orderSearchBar input {
    width: 90%;
    height: 100%;
    border-radius: 1vh 1vh;
    background-color: #D9D9D9;
    outline: none;
    padding-left: 2vh;
    font-size: 2vh;


}

#orderSearchBar button {
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

#orderPageMode {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius:1vh 1vh; */
  overflow: hidden;
}

#orderPageModeBtn1 {
    width: 33.3%;
    height: 100%;

}

#orderPageModeBtn2 {
    width: 33.3%;
    height: 100%;

}

#orderPageModeBtn3 {
    width: 33.3%;
    height: 100%;

}

.orderPageModeButtons button {
    width: 100%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    letter-spacing: 0.3vh;
    height: 100%;
    background-color: #D9D9D9;

}




#orderHeading{
    width: 100%;
    height: 10%;
    background-color: #f2f2f2;
    /* border-radius: 1vh 1vh 0vh 0vh; */

}
#orderHeading table{
    width: 100%;
    height: 100%;
   
}
#orderHeading tr{
    width: 100%;
    height: 100%;
   
}
#orderHeading th{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;

}

#orderData{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 0vh 0vh 1vh 1vh;
  overflow: hidden;
  overflow: auto;
  filter: drop-shadow(0px 2px 1px #00000073);

  word-break: break-all; /* Allow words to break and wrap to the next line */
  overflow-wrap: break-word; 
 
}
#orderData::-webkit-scrollbar {
    width: 12px;
}
#orderData::-webkit-scrollbar-track {
    background: #ffffff;
}
#orderData::-webkit-scrollbar-thumb {
    background-color: #00000073;
    border-radius: 6px;
}